<section>
    <input type="text" ng-blur="$ctrl.blur()" name="predictive-test" ng-model="$ctrl.model" ng-keydown="$ctrl.onKeyDown()">
    <ul ng-if="$ctrl.model.length > 2">
        <li 
            ng-if="$ctrl.model.length > 0 && $ctrl.showPredictive"
            ng-click="$ctrl.selectItem(item)"
            ng-repeat="item in $ctrl.data | filter: $ctrl.filter | limitTo: 20">{{item.name}}</li>
    </ul>
</section>