<h1>Codesenberg Weather App</h1>
<predictive-input data="$ctrl.cityList" city-id="$ctrl.cityId" model="$ctrl.cityName"></predictive-input>
<div ng-show="$ctrl.errorMessage.length > 0" class="error-message">{{$ctrl.errorMessage}}</div>
<select ng-model="$ctrl.temparuateMeasurement" ng-change="$ctrl.onTemperatureChange()" ng-disabled="$ctrl.isSearching">
    <option value="celsius">Celsius</option>
    <option value="fahrenheit">Fahrenheit</option>
</select>
<button ng-click="$ctrl.findWeather()" ng-disabled="$ctrl.isSearching">Find Weather</button>
<div ng-if="$ctrl.isSearching">Is searching...</div>
<div ng-if="$ctrl.dataLoaded">
    <hr>
    <result-item
        city-name="$ctrl.city.name"
        weather-description="$ctrl.currentForecast.weather[0].description"
        icon-src="$ctrl.currentForecast.weather[0].icon"
        temperature="$ctrl.currentForecast.main.temp"
        temperature-measurement-symbol-trusted="$ctrl.temparuateMeasurementSymbol"
        current-rain="$ctrl.currentForecast.rain['3h']"
        rain-over-full-day="$ctrl.currentForecast.rainAccumulation"
        wind-speed="$ctrl.currentForecast.wind.speed"
        wind-cardinal="$ctrl.currentForecast.wind.cardinal"
        humidity="$ctrl.currentForecast.main.humidity"
        type="current"
    ></result-item>

    <hr>
    <h3>Next 5 Days</h3>
    <div ng-repeat="item in $ctrl.forecastItems">
        <result-item
        city-name="$ctrl.city.name"
        weather-description="item.weather[0].description"
        icon-src="item.weather[0].icon"
        temperature="item.main.temp"
        temperature-measurement-symbol-trusted="$ctrl.temparuateMeasurementSymbol"
        current-rain="item.rain['3h']"
        rain-over-full-day="item.rainAccumulation"
        wind-speed="item.wind.speed"
        wind-cardinal="item.wind.cardinal"
        humidity="item.main.humidity"
        current-date="item.dateToString"
        type="future"
    ></result-item>
    </div>
</div>