.message {
  color: red;
}

.label {
  color: green;
}

.current {
  font-size: 20px;
  .title {
    font-weight: bold;
  }
  .icon {
    width: 100px;
  }
  .temperature-label {
    margin-top:20px;
  }
}

.future {
  float: left;
  margin-right: 10px;
  width: 230px;
  border: 1px solid blue;
  .temperature-label {
    margin-top:20px;
  }
}

.current-date-label {
  margin-bottom: 5px;
}