<section class="current">
    <div class="title">Current {{$ctrl.cityName}} Weather: {{$ctrl.weatherDescription}}</div>
    <div><img class="float-left icon" ng-src="http://openweathermap.org/img/w/{{$ctrl.iconSrc}}.png"/></div>
    <div class="temperature-label float-left"><span class="">{{$ctrl.temperature}}</span> <span ng-bind-html="$ctrl.temperatureMeasurementSymbolTrusted"></span></div>
    <div class="clear-both"><span class="label">Rain over next 3h:</span> <span ng-if="$ctrl.currentRain !== undefined">Approx {{$ctrl.currentRain}} mm</span><span ng-if="$ctrl.currentRain === undefined">-<span></div>
    <div><span class="label">Wind:</span> {{$ctrl.windSpeed}} km/h {{$ctrl.windCardinal}}</div>
    <div><span class="label">Humidity:</span> {{$ctrl.humidity}} %</div>
</section>