<section class="future">
    <div class="current-date-label">{{$ctrl.currentDate}}</div>
    <div><span class="label">Weather Description:</span> {{$ctrl.weatherDescription}}</div>
    <div class="float-left"><img ng-src="http://openweathermap.org/img/w/{{$ctrl.iconSrc}}.png"/></div>
    <div class="temperature-label">{{$ctrl.temperature}} <span ng-bind-html="$ctrl.temperatureMeasurementSymbolTrusted"></span></div>
    <div class="clear-both"><span class="label">Rain Accumalation:</span> <span ng-if="$ctrl.rainOverFullDay !== undefined">Approx {{$ctrl.rainOverFullDay}} mm over 24 hours</span><span ng-if="$ctrl.rainOverFullDay === undefined">-<span></div>
    <div><span class="label">Wind:</span> {{$ctrl.windSpeed}} km/h {{$ctrl.windCardinal}}</div>
    <div><span class="label">Humidity:</span> {{$ctrl.humidity}} %</div>
</section>